mat-form-field{
    width:100%;
}
.status-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .status-radio-button {
    margin: 5px;
  }